<h2 class="board-title"><%=board.escape('name')%></h2>

<div class="board-buttons">
<button type="button" class="delete-button">Remove</button>

<button type="button" class="home-button">Home</button>

<button type="button" class="new-list-button">Add List</button>

</div>

<ul class="board-lists">
</ul>
