<form action="/api/cards" class="new-card-form" method="post">
  <input type="hidden" name="authenticity_token"
  value="form_authenticity_token">
  <input type="hidden" name="card[list_id]" value="<%=list.escape('id')%>">
  <label>
  Title
  <input type="text" name="card[title]" value="<%=card.escape('title')%>">
  </label>
  <br>
  <label>
  Content
  <input type="text" name="card[content]" value="<%=card.escape('content')%>">
  </label>
  <br>
  <label>
  Ord
  <input type="number" name="card[ord]" value="<%=card.escape('ord')%>">
  </label>
  <input class="input-button" type="submit" value="+">
</form>
