<form action="/api/lists" class="new-list-form" method="post">
  <h2 class="list-title">New List</h2>
  <input type="hidden" name="authenticity_token"
  value="form_authenticity_token">
  <input type="hidden" name="list[board_id]" value="<%=board.escape('id')%>">
  <label>
  Title
  <input type="text" name="list[title]" value="<%=list.escape('title')%>">
  </label>
  <br>
  <label>
  Ord
  <input type="number" name="list[ord]" value="<%=list.escape('ord')%>">
  </label>
  <br>
  <br>
  <input class="input-button" type="submit" value="Create List">
</form>
