<div class="list-title"><%=list.escape('title')%></div>
<div class="list-options">
  <button type="button" class="remove-list-button">Remove</button>
  <button type="button" class="edit-list-button">Edit</button>
</div>
